<!-- Navigation Mobile Responsive-->
<div class="title-bar" data-responsive-toggle="book-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="book-menu"></button>
  <div class="orange title-bar-title">Book Buddies</div>
</div>
<div class="top-bar" id="book-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="orange menu-text">Book Buddies</li>
      <li><a class="orange" href="/">Home</a></li>
      <li><a class="orange" href="/#about">About</a></li>
      <li><a class="orange" href="/bookclubs">Book Clubs</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a class=href="/user">My Account</a></li>
      <li><a class="orange-bg button" data-open="profileModal">Login</a></li>
      <div class="reveal" id="profileModal" data-reveal>
        <div class="login-box">
          <div class="row collapse expanded">
            <div class="small-12 medium-6 column small-order-2 medium-order-1">
              <div class="login-box-form-section">
                <form method="POST" action="/signin" id="signin-form">
                  <h1 class="login-box-title">Welcome Back, <a class="orange"> Buddy!</a></h1>
                  <input class="login-box-input" type="email" name="email" placeholder="Email" />
                  <input class="login-box-input" type="password" name="password" placeholder="Password" />
                  <input class=" orange login-box-submit-button" type="submit" name="signin_submit" value="Log In" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
<!-- /Navigation -->

<!-- Club Flip Cards -->
<hr>
<div class="row small-up-1 medium-up-2 large-up-3">
  {{#each clubs}}
  <div class="column">
    <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
      <div class="flip-card-inner">
        <div class="flip-card-inner-front">
          <span>{{this.clubName}}</span>
        </div>
        <div class="flip-card-inner-back">
          <h3 class="flip-card-inner-back-title">{{this.clubName}}</h3>
          <p class="flip-card-inner-back-text">Moderator: {{this.moderator}}</p>
          <p class="flip-card-inner-back-text">Location: {{this.location}}</p>
          <p class="flip-card-inner-back-text">Genre: {{this.genre}}</p>
          <p class="flip-card-inner-back-text">Description: {{this.description}}</p>
          <p class="flip-card-inner-back-text">Next Book: {{this.nextBook}}</p>
          <p class="orange">Sign up now to join!</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<!-- Club Flip Cards -->

<hr>

<!--Load More Button -->
<div class="grid-x" id="loadMore">
  <div class="cell">
    <div style="min-height:100%; padding-left:15px; padding-right: 15px; width:100%;">
      <a class="orange button hollow expanded">Load More</a>
    </div>
  </div>
</div>
<!--Load More Button -->

<hr>

<!-- Footer -->
<div class="footer">
  <div class="info">
    <div class="row">
      <div class="large-12 columns">
        &copy; MONARCHY Coding 2017
        <br>
        <a class="orange" href="https://github.com/mderoberts/book-buddies" target="_blank">Github</a> </p>
      </div>
      <!-- Footer -->