<!-- Navigation Mobile Responsive-->
<div class="title-bar" data-responsive-toggle="book-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="book-menu"></button>
  <div class="orange title-bar-title">Book Buddies</div>
</div>
<div class="top-bar" id="book-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="orange menu-text">Book Buddies</li>
      <li><a class="orange" href="/">Home</a></li>
      <li><a class="orange" href="/#about">About</a></li>
      {{#if userData}}
      <li><a class="orange" href="/ubookclubs">Book Clubs</a></li>
      {{else}}
      <li><a class="orange" href="/bookclubs">Book Clubs</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">

      {{#if userData}}
      <li><a class="orange" href="/user">My Account</a></li>
      <li><a class="orange-bg button" href="/logout">Logout</a></li>
      {{else}}
      <li><a class="orange-bg button" data-open="profileModal">Login</a></li>
      <div class="reveal" id="profileModal" data-reveal>
        <div class="login-box">
          <div class="row collapse expanded">
            <div class="small-12 column small-order-2 medium-order-1">
              <div class="login-box-form-section">
                <form method="POST" action="/signin" id="signin-form">
                  <h1 class="login-box-title">Welcome Back, <a class="orange"> Buddy!</a></h1>
                  <input class="login-box-input" type="email" name="email" placeholder="Email" />
                  <input class="login-box-input" type="password" name="password" placeholder="Password" />
                  <input class=" orange login-box-submit-button" type="submit" name="signin_submit" value="Log In" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </ul>
  </div>
</div>
<!-- /Navigation -->

<div class="callout large">
  <div class="row column text-center">
    <div class="info">
      <h1>{{clubData.clubName}}</h1>
      <p class="lead">Genre: {{clubData.genre}}</p>
      <p class="lead">Decription: {{clubData.description}}</p>
      <p class="lead">Location: {{clubData.location}}</p>
      <p>
        <form method="POST" action="/join/{{clubData.id}}/{{userData.id}}?_method=PUT">
          <button type="submit" class="orange-bg button large">Join</button>
        </form>
      </p>
    </div>
  </div>
</div>


<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li>
      <a href="#buddies">
        <div class="stat">{{members.length}}</div><span class="orange">Buddies</span></a>
    </li>
    <li>
      <a href="#events">
        <div class="stat">43</div><span>Events</span></a>
    </li>
    <li>
      <a href="#disc">
        <div class="stat">95</div><span>Discussions</span></a>
    </li>
    <li>
      <a href="#poll">
        <div class="stat">59</div><span>Polls</span></a>
    </li>
  </ul>
</div>

<hr>

<div class="column row">
  <hr>
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true" id="buddies">Buddies</a></li>
    <li class="tabs-title"><a href="#panel2" id="events">Events</a></li>
    <li class="tabs-title"><a href="#panel3" id="disc">Discussion</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <h4 class="orange">Buddies</h4>

      <div class="row small-up-2 medium-up-3">
        {{#each members}}
        <div class="column">
          <div class="card-profile-stats">
            <div class="card-profile-stats-intro">
              <img class="card-profile-stats-intro-pic" src="{{this.photo}}" alt="profile-image">
              <div class="card-profile-stats-intro-content">
                <h3>{{this.firstName}} {{this.lastName}}</h3>
                <p>{{this.location}}</p>
              </div>
              <!-- /.card-profile-stats-intro-content -->
            </div>
            <!-- /.card-profile-stats-intro -->

            <div class="card-profile-stats-more">
              <p class="card-profile-stats-more-link"><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
              <div class="card-profile-stats-more-content">
                <p>
                  {{this.bio}}
                </p>
                <p>Favorite book: {{this.favoriteBook}}</p>
              </div>
              <!-- /.card-profile-stats-more-content -->
            </div>
            <!-- /.card-profile-stats-more -->
          </div>
          <!-- /.card-profile-stats -->
        </div>
        <!-- /.column -->
        {{/each}}

      </div>
      <!--/. row small-up-2 medium-up-3-->
      <!-- Third Profile Card -->

      <label id="poll">
            What should we read next?
            <textarea placeholder="Book Title"></textarea>
          </label>
      <button class="orange-bg button">Submit Review</button>
    </div>
    <!-- /.tabs-panel is-active -->

    <div class="tabs-panel" id="panel2">
      <div class="row">
        <div class="column">
          <h2> COMING SOON </h2>
          <br>
          <img src="assets/img/calendar.jpg">
        </div>
      </div>
    </div>
    <!-- /.tabs-panel2 -->
    <div class="tabs-panel" id="panel3">
      <div class="grid-frame" id="discussionPlaceholder">
        <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
          <div class="grid-content collapse shrink hide-for-medium">
            <a href="" class="secondary button expand" zf-close>Close</a>
          </div>
          <div class="grid-content collapse shrink">
            <img src="http://placehold.it/400x150&text=Logo">
          </div>
          <div class="grid-content">

            <section class="block-list">
              <header>Rooms</header>
              <ul>
                <li>
                  <a href="#">
                  Slam Book
                  <span class="block-list-label">7</span>
                </a>
                </li>
                <li>
                  <a href="#">
                  Foundation Chat
                  <span class="block-list-label">2</span>
                </a>
                </li>
                <li>
                  <a class="success" href="#">
                  LolCats
                  <span class="block-list-label">2</span>
                </a>
                </li>
              </ul>
            </section>

            <section class="block-list">
              <header>People</header>
              <ul>
                <li>
                  <a href="#">
                  Glen Coco
                  <span class="block-list-label">2</span>
                </a>
                </li>
                <li>
                  <a class="success" href="#">
                  Guy Guyerson
                  <span class="block-list-label">2</span>
                </a>
                </li>
              </ul>
            </section>
          </div>
          <div class="grid-content collapse shrink avatar-section">
            <img src="http://placehold.it/50x50"> Regina George
          </div>
        </div>

        <div class="grid-block collapse medium-9 large-9 vertical">
          <div id="header" class="shrink collapse grid-content">
            <ul class="menu-bar primary">
              <li class="hide-for-medium"><a zf-open="sidebar" href="#">Menu</a></li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
            </ul>
          </div>
          <div class="grid-block">
            <div class="grid-block small-12 medium-9 vertical">
              <div class="grid-content">
                <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
                <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna
                  non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis
                  porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et
                  justo dignissim congue.</p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Kevin Gnapoor</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Coach Carr</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
                <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
                  Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum
                  feugiat.
                </p>
                <hr />
              </div>
              <div class="message-input grid-content collapse shrink">
                <span class="inline-label">
                <input type="text" placeholder="Message">
                <a href="#" class="button">Send</a>
              </span>
              </div>
            </div>
            <div class="grid-content medium-3 show-for-medium message-side-bar">
              <section class="block-list">
                <header>In This Room</header>
                <ul>
                  <li><a href="#">Cady Heron</a></li>
                  <li><a href="#">Kevin Gnapoor</a></li>
                  <li><a href="#">Trang Pak</a></li>
                  <li><a href="#">Coach Carr</a></li>
                  <li><a href="#">Regina George</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- /.discussionPlaceholder -->
    </div>
    <!-- /.tabs-panel3 -->
  </div>
  <!-- /.tabs-content -->
</div>
<!-- /.column row -->

<!-- Footer -->
<div class="cell shrink footer">
  &copy; MONARCHY Coding 2017
  <br>
  <a class="orange" href="https://github.com/mderoberts/book-buddies" target="_blank">Github</a> </p>
</div>
<!-- Footer -->