<!-- Navigation Mobile Responsive-->
<div class="title-bar" data-responsive-toggle="book-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="book-menu"></button>
  <div class="orange title-bar-title">Book Buddies</div>
</div>
<div class="top-bar" id="book-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="orange menu-text">Book Buddies</li>
      <li><a class="orange" href="/index">Home</a></li>
      <li><a class="orange" href="/index#about">About</a></li>
      <li><a class="orange" href="/bookclubs">Book Clubs</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a class="orange" href="/user">My Account</a></li>
    </ul>
  </div>
</div>
<!-- /Navigation -->

<div class="callout" id="bcTop">
  <div class="row column">
    <h1>Hello! Select A Book Club.</h1>
    <p class="lead">With many genres to choose from, select the club that will share your love for books.</p>
  </div>
</div>
<!--Side Profile Bar -->

<div class="grid-x grid-margin-x">
  <div class="small-1 cell"></div>
  <div class="small-2 cell">
    <br>
    <div class="card-profile">
      <div class="card-profile-stats-intro">
        <img class="card-profile-stats-intro-pic" src="{{userData.photo}}" alt="profile-image">
        <div class="card-profile-stats-intro-content">

          <h3>{{userData.firstName}} {{userData.lastName}}</h3>
          <p> {{userData.location}} </p>
        </div>
        <!-- /.card-profile-stats-intro-content -->
      </div>
      <!-- /.card-profile-stats-intro -->

      <hr>

      <div class="card-profile-stats-container">
        <div class="card-profile-stats-statistic">
          <span class="stat">{{userData.favoriteBook}}</span>
          <p class="orange">Favorite Book</p>
        </div>
        <!-- /.card-profile-stats-statistic -->
        <!-- <div class="card-profile-stats-statistic">
                <span class="stat">125</span>
                <p class="orange">Buddies</p>
              </div> -->
        <!-- /.card-profile-stats-statistic -->
      </div>
      <!-- /.card-profile-stats-container -->

      <div class="card-profile-stats-more">
        <p class="card-profile-stats-more-link"><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
        <div class="card-profile-stats-more-content">
          <p> {{userData.bio}}</p>
        </div>
        <!-- /.card-profile-stats-more-content -->
      </div>
      <!-- /.card-profile-stats-more -->
    </div>
    <!-- /.card-profile-stats -->
  </div>

  <!-- Club Flip Cards -->
  <div class="row small-up-1 medium-up-2 large-up-2">
    {{#each clubs}}
    <div class="column">
      <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
        <div class="flip-card-inner">
          <div class="flip-card-inner-front">

            <span>{{this.clubName}}</span>

          </div>
          <div class="flip-card-inner-back">
            <h3 class="flip-card-inner-back-title">{{this.clubName}}</h3>
            <p class="flip-card-inner-back-text">Moderator: {{this.moderator}}</p>
            <p class="flip-card-inner-back-text">Location: {{this.location}}</p>
            <p class="flip-card-inner-back-text">Genre: {{this.genre}}</p>
            <p class="flip-card-inner-back-text">Description: {{this.description}}</p>
            <p class="flip-card-inner-back-text">Next Book: {{this.nextBook}}</p>

            <form method="POST" action="/join/{{this.id}}/{{../userData.id}}?_method=PUT">
              <button type="submit" class="orange-bg button large">Join</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <!-- Club Flip Cards -->

    <hr>

    <!--Load More Button -->
    <div class="grid-x" id="loadMore">
      <div class="cell">
        <div style="min-height:100%; padding-left:15px; padding-right: 15px; width:100%;">
          <a class="orange button hollow expanded">Load More</a>
        </div>
      </div>
    </div>
    <!--Load More Button -->

    <hr>

    <!--New Club Form -->
    <div class="grid-x" id="newClub">
      <div class="cell">
        <div style="background-color:rgba(0,0,0,0.7); min-height:100%; padding:32px; width:100%;">
          <form class="create-update-form" action="/" method="POST">
            <h3>Can't Find Your Perfect Club?</h3>
            <h4>Become the ultimate <span class="orange"> Book Buddy </span> and create a new Book Club!</h4>
            <label>Club Name: 
                <input type="text" name="clubName" placeholder="Name" required>
              </label>
            <label>Book Genres:
                <input type="text" name="genre" placeholder="Romance?" required>
              </label>
            <label>Moderator:
                <input type="text" name="moderator" placeholder="Moderator" required>
              </label>              
            <label>Meeting Location:
                <input type="text" name="location" placeholder="Chapel Hill NC" required>
              </label>
            <label> Description:
                <textarea name="description" placeholder="Make it good...this is your selling point" required></textarea>
              </label>
            <label>First Book:
                <input type="text" name="currentBook" placeholder="What would you like to read first?" required>
              </label>
            <label>Book Club Backgroud Image:
                <input type="url" name="photo" placeholder="Please submit an image URL. Image uploading is coming soon!">
              </label>
            <input type="submit" class="orange-bg button expanded" value="Submit">
          </form>
        </div>
      </div>
    </div>
    {{!-- / new club form --}}
  </div>
  {{!-- /row --}}
</div>
{{!-- grid --}}


<!-- Footer -->
<div class="footer">
  <div class="info">
    <div class="row">
      <div class="large-12 columns">
        &copy; MONARCHY Coding 2017
        <br>
        <a class="orange" href="https://github.com/mderoberts/book-buddies" target="_blank">Github</a> </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->