  <!-- Navigation Mobile Responsive-->
  <div class="title-bar" data-responsive-toggle="book-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="book-menu"></button>
    <div class="orange title-bar-title">Book Buddies</div>
  </div>
  <div class="top-bar" id="book-menu">
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a class="orange-bg button" href="index.html#profileModal">Login</a></li>
        <!-- Modal is awkwardly sized -->
        <!--
            <div class="reveal" id="profileModal" data-reveal>
              <div class="login-box">
                <div class="row collapse expanded">
                  <div class="small-12 medium-6 column small-order-2 medium-order-1">
                    <div class="login-box-form-section">
                      <h1 class="login-box-title">Welcome Back, <a class="orange"> Buddy!</a></h1>
                        <input class="login-box-input" type="text" name="username" placeholder="Username" />
                        <input class="login-box-input" type="password" name="password" placeholder="Password" />
                        <input class=" orange login-box-submit-button" type="submit" name="signup_submit" value="Log In" />
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
      </ul>
    </div>
  </div>
  <!-- /Navigation -->




        <div class="callout" id="bcTop">
          <div class="row column">
            <h1>Hello! Select A Book Club.</h1>
            <p class="lead">With many genres to choose from, select the club that will share your love for books.</p>
          </div>
        </div>
        <!--Side Profile Bar -->

<div class="grid-x grid-margin-x">
 <div class="small-1 cell"></div>   
  <div class="small-2 cell">
      <br>
          <div class="card-profile">
            <div class="card-profile-stats-intro">
              <img class="card-profile-stats-intro-pic" src="https://i.pinimg.com/236x/15/73/fc/1573fc7afb3f5e3f0c0c70803fea230e--book-art-collage-book.jpg" alt="profile-image"
              />
              <div class="card-profile-stats-intro-content">
                <h3>Joe Smith</h3>
                <p> Chapel Hill, NC </p>
              </div>
              <!-- /.card-profile-stats-intro-content -->
            </div>
            <!-- /.card-profile-stats-intro -->

            <hr>

            <div class="card-profile-stats-container">
              <div class="card-profile-stats-statistic">
                <span class="stat">5</span>
                <p class="orange">Clubs</p>
              </div>
              <!-- /.card-profile-stats-statistic -->
             <!-- <div class="card-profile-stats-statistic">
                <span class="stat">125</span>
                <p class="orange">Buddies</p>
              </div> -->
              <!-- /.card-profile-stats-statistic -->
            </div>
            <!-- /.card-profile-stats-container -->

            <div class="card-profile-stats-more">
              <p class="card-profile-stats-more-link"><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
              <div class="card-profile-stats-more-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem libero fugit, pariatur maxime! Optio enim, deserunt
                  quia molestiae fugiat delectus, dolore et esse nostrum, quod autem necessitatibus fugit soluta repellendus.
                </p>
              </div>
              <!-- /.card-profile-stats-more-content -->
            </div>
            <!-- /.card-profile-stats-more -->
          </div>
          <!-- /.card-profile-stats -->
    </div>

  <!-- Club Flip Cards -->
        <hr>
        <div class="row small-up-1 medium-up-2 large-up-3">
          <div class="column">
            <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
              {{#each Club}}
              <div class="flip-card-inner">
                <div class="flip-card-inner-front">
      
                  <span>{{this.clubName}}</span>

                </div>
                <div class="flip-card-inner-back">
                  <h3 class="flip-card-inner-back-title">{{this.clubName}}</h3>
                  <p class="flip-card-inner-back-text">Moderator: {{this.moderator}}</p>
                  <p class="flip-card-inner-back-text">Location: {{this.location}}</p>
                  <p class="flip-card-inner-back-text">Genre: {{this.genre}}</p>
                  <p class="flip-card-inner-back-text">Description: {{this.description}}</p>
                  <p class="flip-card-inner-back-text">Next Book: {{this.nextBook}}</p>
                  <a href="/club" target="_blank" class="button orange-bg">Join Now</a>
      
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
 <!-- Club Flip Cards -->

          <hr>

  <!--Load More Button -->
          <div class="grid-x" id="loadMore">
            <div class="cell">
              <div style="min-height:100%; padding-left:15px; padding-right: 15px; width:100%;">
                <a class="orange button hollow expanded">Load More</a>
              </div>
            </div>
          </div>
  <!--Load More Button -->

          <hr>

          <!--New Club Form -->
          <div class="grid-x" id="newClub">
            <div class="cell">
              <div style="background-color:rgba(0,0,0,0.7); min-height:100%; padding:32px; width:100%;">
                <h3>Can't Find Your Perfect Club?</h3>
                <h4>Become the ultimate <span class="orange"> Book Buddy </span> and create a new Book Club!</h4>
                <label>Club Name
                <input type="text" placeholder="Name">
              </label>
                <label>Book Genres
                <input type="text" placeholder="Romance">
              </label>
                <label>Meeting Location
                <input type="text" placeholder="Chapel Hill, NC">
              </label>
                <label>
                Description
                <textarea placeholder="Make it good...this is your selling point"></textarea>
              </label>
                <input type="submit" class="orange-bg button expanded" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cell shrink footer">
      &copy; MONARCHY Coding 2017
      <br>
      <a class="orange" href="https://github.com/mderoberts/book-buddies" target="_blank">Github</a> </p>
    </div>